doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='javascripts/jquery.js')
    script(src='lib/angular.js')
    script(src='lib/angular.min.js')
    script(src='controllers/'+jsfile+'.js')
  body
    block content
