extends layout

block content
	form(ng-app='vendApp' name='vendForm' novalidate)
		div(class='container' ng-controller='vendControl')
			h2 Vendor Records Maintenance
			br
			
			div(class='row')
				div(class='row col-md-6 col-md-push-10')
					a(class="btn btn-info" href="/" ) Home 
					a(class="btn btn-info" href="/" ) Exit

			div(class='row')
				div(class='col-md-6 col-md-push-3')
					div(class='panel panel-default')
						div(class='panel panel-heading') Vendor Details
						div(class='panel panel-body')
							table(class='table')
								tbody
									tr
										td <span> Vendor Number</span>
										td <input type="text" class="form-control" name='vendNo' ng-size='3' ng-model='vendObj.no' required>
									tr
										td <span> Name</span>
										td <input type="text" class="form-control" name='vendName' ng-size='20' ng-model='vendObj.name'>
									tr
										td <span> Mailling Address</span>
										td <div class="list-group">
											input(type=text class="list-group-item form-control" name='vendAddr1' ng-size='20' ng-model='vendObj.address1')
											input(type=text class="list-group-item form-control" name='vendAddr2' ng-size='20' ng-model='vendObj.address2')
											input(type=text class="list-group-item form-control" name='vendAddr3' ng-size='20' ng-model='vendObj.address3')
							div(class='row col-md-8 col-md-push-1')
								button(type="button" class="btn btn-success" ng-disabled="vendForm.$invalid" ng-click="add()") Add 
								button(type="button" class="btn btn-info" ng-disabled="vendForm.$invalid" ng-click="enq()") Enquire
								button(type="button" class="btn btn-default" ng-disabled="vendForm.$invalid" ng-click="update()") Update
								button(type="button" class="btn btn-danger" ng-disabled="vendForm.$invalid" ng-click="del()") Delete   

							div(class='row col-md-6 col-md-push-8')
								button(type="button" class="btn btn-info" name='last' ng-click='last()' ) << 
								button(type="button" class="btn btn-info" name='prev' ng-click='previous()') <
								button(type="button" class="btn btn-info"  name='next' ng-click='next()') >
								button(type="button" class="btn btn-info"  name='first' ng-click='first()') >>   
						div(class="panel-footer") {{footerStatus}}