<hr>
<h3>Comments</h3>
<div class='panel panel-default' ng-app="blogApp" ng-controller="commentCtrl">
	<div class='panel panel-body'>
		<div class='col-md-8 col-md-push-0'>
			<input type='text' ng-model='comm.url' value='' ng-hide='true'>
			<addcomment></addcomment>
			<div id="space-for-comment"></div>
		</div>
	</div>
</div>

<!-- ============ FOOTER SECTION ============== -->
<tr><td colspan="2" align="center" height="20" bgcolor="#777d6a">Copyright Unisys Global Services</td></tr>
</table>
</body>

<html>

